{% extends "base.html" %} 
{% block title %}Request List{% endblock %}
{% block csstyle %}
<link rel="stylesheet" href="{{ url_for('static', filename='borrowing_request_style.css') }}">
{% endblock %}
{% block content %} 
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for request in request_list %}
            <tr>    
                <td> <a href="/profile/{{request.user_name}}">{{request.user_name}}</a> </td>
                <td> <a href="/equipments/details/{{request.equip_name}}">{{request.equip_name}}</a> </td>
                <td>{{request.start_date}}</td>
                <td>{{request.end_date}}</td>
                {% if REQUEST_STATUS[request.status] == 'Rejected' %}
                <td  id="status-{{loop.index}}" class="status-rejected">Rejected</td>
                {% elif REQUEST_STATUS[request.status] == 'Approved' %}
                <td id="status-{{loop.index}}" class="status-approved">Approved</td>
                {% else %}
                <td id="status-{{loop.index}}" class="status-pending">Pending</td>
                {% endif %}

                <td>
                    <div style="display: flex; justify-content: start;">
                        <form action="{{ url_for('auth.accept_borrowing_request', id=request.id) }}" method="POST">
                            <input type="hidden" id="userChoice-{{loop.index}}" name="userChoice" value="empty">
                            <button type="submit" id="btn-approve-{{loop.index}}" class="btn btn-success btn-circle fa fa-check" onclick="confirm_action{{loop.index}}()"></button>
                        </form>
                        <form class="reject-btn" action="{{ url_for('auth.reject_borrowing_request', id=request.id) }}" method="POST">
                            <input type="hidden" id="userChoice2-{{loop.index}}" name="userChoice2" value="empty">
                            <button type="submit" id="btn-reject-{{loop.index}}" class="btn btn-danger btn-circle fa fa-times" onclick="confirm_action2{{loop.index}}()"></button>
                        </form>
                        <script>
                            function confirm_action{{loop.index}}(){
                                if (confirm('Are you sure?') == true)
                                document.getElementById("userChoice-{{loop.index}}").value = "True";
                                else{
                                    document.getElementById("userChoice-{{loop.index}}").value = "False"
                                    return 0;
                                }
                            }   
                            function confirm_action2{{loop.index}}(){
                                if (confirm('Are you sure?') == true)
                                document.getElementById("userChoice2-{{loop.index}}").value = "True";
                                else{
                                    document.getElementById("userChoice2-{{loop.index}}").value = "False"
                                    return 0;
                                }
                            }   
                        </script> 
                    </div>
                </td>
            </tr>
            {% endfor %} 
            <script>
                const total = {{total}}
                for (let i = 1; i <= total; i++){
                    if (document.getElementById("status-"+String(i)).className == 'status-approved'){
                        document.getElementById("btn-approve-"+String(i)).disabled = true;
                    }
                    if (document.getElementById("status-"+String(i)).className == 'status-rejected'){
                        document.getElementById("btn-reject-"+String(i)).disabled = true;
                    }
                }   
            </script>
        </table>
        {{ pagination.links }}
    </div>
    

{% endblock %}